.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	.picture {
		flex: 50%;
		img {
			width: 100%;
			display: block;
		}
	}
}

@media screen and (min-width: 1280px) {
	.gallery {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		.picture {
			flex: 25%;
			img {
				width: 100%;
				display: block;
			}
		}
	}
}

// feedback test 2
